/* inicio --- -----------------------------------------*/
/* Extra Small */
@media ( min-width : 320px ) {     
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */
}
/* Small */
@media ( min-width : 576px ) {     
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */
}
/* Medium (punto de interrupción) */
@media (min-width: 768px) {  
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */
}
/* Large */
@media ( min-width : 992px ) {    
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */ 
} 
/* Extra Large */
@media ( min-width : 1200px ) {  
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */ 
} 
/* fin ----------------------------------------------*/

/* inicio de Navbar -------------------------------*/
/* Extra Small */
@media ( min-width : 320px ) {     
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */
}
/* Small */
@media ( min-width : 576px ) {     
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */
}
/* Medium (punto de interrupción) */
@media (min-width: 768px) {  
	
}
/* Large */
@media ( min-width : 992px ) {    
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */ 
} 
/* Extra Large */
@media ( min-width : 1200px ) {  
	. { font-size: #;} /* 1rem = 16px */ 
	. { font-size: #;} /* 1rem = 16px */ 
} 
/* fin de Navbar ---------------------------------*/

/* Inicio de Frames ------------------------------*/
@media(max-width:400px) { 
	.text-cel
	{
		padding-top: 2em;
		font-size: 2em;
	}
	
	.facebook{
		width: 280px;
	}
	.youtube{
		width: 280px;
	}
}
@media(min-width:400px) { 
	.text-cel
	{
		margin-top: 2em;
		font-size: 2em;
	}
	
	.facebook{
		width: 350px;
	}
	.youtube{
		width: 350px;
	}
}
@media(min-width:600px){
	.facebook{
		max-width: 800px;
	}
	.youtube{
		width: 500px;
	}
}
@media(min-width:980px){
	.facebook{
		max-width: 300px;
	}
	.youtube{
		width: 300px;
	}
}
/* Fin de Frames -------------------------------------------------*/

/* inicio de contactenos -----------------------------------------*/
/* Extra Small */
@media ( min-width : 320px ) {     
	.map-container{width: 90%} /* 1rem = 16px */
	.map{width: 100%} /* 1rem = 16px */
	.box{width: 90%} /* 1rem = 16px */
	.contact-me-padding{padding: 1em;}
	.mt-contact{margin-top: 4em;}
}
/* Small */
@media ( min-width : 576px ) {  
	.map-container{width: 400px} /* 1rem = 16px */    
	.map{width: 400px} /* 1rem = 16px */
	.box{width: 400px} /* 1rem = 16px */
	.contact-me-padding{padding: 3em;}
	.mt-contact{margin-top: 1em;}
}
/* Medium (punto de interrupción) */
@media (min-width: 768px) {  
	.contact-me-padding{padding: 4em;}
	.mt-contact{margin-top: 0.5em;}
}
/* Large */
@media ( min-width : 992px ) {    

} 
/* Extra Large */
@media ( min-width : 1200px ) {  
	.map-container{width: 400px} /* 1rem = 16px */    
	.map{width: 400px} /* 1rem = 16px */
	.box{width: 420px} /* 1rem = 16px */
	.contact-me-padding{padding: 4em;}
} 
@media ( min-width : 1500px ) {  
	.map-container{width: 450px} /* 1rem = 16px */    
	.map{width: 450px} /* 1rem = 16px */
	.box{width: 450px} /* 1rem = 16px */
	.contact-me-padding{padding: 5em;}
}
/* fin de contactenos --------------------------------------------*/
