/* inicio de fuentes ---------------------------------*/
/*@font-face{
	font-family: ;
	src:url("") format("truetype");
}
*/
/* fin de fuentes ------------------------------------*/

/* inicio de general ---------------------------------*/
*{
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
}
.animacion3{
	opacity: 0.85 !important;
	transition: all 0.5s ease !important;
	transform: translateY(-30px) !important;
}
.azul{
	color: #003C71;
}
.naranja{
	color: #FF6A0B;
}
/* fin de general ------------------------------------*/

/* Incio de Loading ---------------------------------*/
.loading{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: #404456;
	z-index: 3;
	transition: 0.5s;
}
.loading p{
	display: flex;
	justify-content: center;
	transform: translateY(1em);
	font-weight: bold;
	color: #fff;
	font-size: 1.4em;
}
#loader{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -2.7em;
	margin-left: -2.7em;
	width: 5.4em;
	height: 5.4em;
	background-color: #404456;
}
#hill {
	position: absolute;
	width: 7.1em;
	height: 7.1em;
	top: 1.7em;
	left: 1.7em;
	background-color: transparent;
	border-left: .25em solid whitesmoke;
	transform: rotate(45deg);
}
#hill:after {
	content: '';
	position: absolute;
	width: 7.1em;
	height: 7.1em;
	left: 0;
	background-color: #404456;
}
#box {
	position: absolute;
	left: 0;
	bottom: -.1em;
	width: 1em;
	height: 1em;
	background-color: transparent;
	border: .25em solid whitesmoke;
	border-radius: 15%;
	transform: translate(0, -1em) rotate(-45deg);
	animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}
@keyframes push {
	0% {
		transform: translate(0, -1em) rotate(-45deg);
	}
	5% {
		transform: translate(0, -1em) rotate(-50deg);
	}
	20% {
		transform: translate(1em, -2em) rotate(47deg);
	}
	25% {
		transform: translate(1em, -2em) rotate(45deg);
	}
	30% {
		transform: translate(1em, -2em) rotate(40deg);
	}
	45% {
		transform: translate(2em, -3em) rotate(137deg);
	}
	50% {
		transform: translate(2em, -3em) rotate(135deg);
	}
	55% {
		transform: translate(2em, -3em) rotate(130deg);
	}
	70% {
		transform: translate(3em, -4em) rotate(217deg);
	}
	75% {
		transform: translate(3em, -4em) rotate(220deg);
	}
	100% {
		transform: translate(0, -1em) rotate(-225deg);
	}
}
.loadingOpacity{
	opacity: 0;
}
.ghost{
	display: none !important;
}
/* Fin de Loading -----------------------------------*/

/* Incio de navbar ----------------------------------*/
#header nav{
	z-index: 2;
}
.nav-logo{
	height: 2em;
}
.nav-shadow{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-link{
	color: #003C71 !important;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	transition: all 0.3s ease;
	position: relative;
}
.nav-link:hover{
	transition: all 0.3s ease;
	color: #FF6A0B !important;
}
.nav-link i{
	position: absolute;
	top: 0;
	left: 45%;
	animation: nav-arrow 1s infinite;
}
@keyframes nav-arrow{
	0%{
		transform: translateY(-1px);
	}
	50%{
		transform: translateY(-5px);
	}
	100%{
		transform: translateY(-1px);
	}
}
/* Fin de navbar ------------------------------------*/

/* Incio de Sliders ---------------------------------*/
.sliders{
	margin-top: 4.1rem;
}
.carousel-img{
	max-height: 80vh;
}
/*
.first-slider-inicio{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-inicio{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/2.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-inicio{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/3.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
*/
/* Fin de Sliders -----------------------------------*/

/* Inicio de Noticias -------------------------------*/
div[class*='col']{
	padding-bottom: 0.285714em /*4px-14*/
}
.animacion-noticias{
	-webkit-animation: bounce 2s ease infinite alternate;
	font-family: 'Erica One', cursive;
	text-shadow: 0 1px 0 #CCC,
	0 2px 0 #CCC,
	0 3px 0 #CCC,
	0 4px 0 #CCC,
	0 5px 0 #CCC,
	0 6px 0 transparent,
	0 7px 0 transparent,
	0 8px 0 transparent,
	0 9px 0 transparent,
	0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
	100%{
		top: -25px;

		text-shadow: 0 1px 0 #CCC,
		0 2px 0 #CCC,
		0 3px 0 #CCC,
		0 4px 0 #CCC,
		0 5px 0 #CCC,
		0 6px 0 #CCC,
		0 7px 0 #CCC,
		0 8px 0 #CCC,
		0 9px 0 #CCC,
		0 30px 30px rgba(0, 0, 0, .3);
	}
	}/* Fin de Noticias ----------------------------------*/

	/* Frames -------------------------------------------*/
	.hr-primary{
		background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
		height: 4px;
		padding: 0;
		margin: 1;
	}
	.text-siguenos{
		color:#007BFF;
		font-size: 2em;
	}
	.text-frases{
		color:#06369A;
		font-size: 2em;
		font-family: 'helvetica';
	}
	/* Fin de Frames -----------------------------------*/

	/* Inicio de footer ---------------------------------*/
	.fb-ic,
	.tw-ic,
	.gplus-ic,
	.li-ic,
	.ins-ic
	{
		color: #fff;
		transition: all 0.5s ease;
		text-decoration: none !important;
	}
	.fb-ic:hover,
	.tw-ic:hover,
	.gplus-ic:hover,
	.li-ic:hover,
	.ins-ic:hover
	{
		color: #0E0D0D;
	}
	/* Fin de footer ------------------------------------*/

	/* Inicio de Sociales -------------------------------*/
	.sociales{
		position: fixed;
		top: 20%;
		left: 0;
	}
	.sociales a img{
		width: 2.5rem;
		display: block;
		transition: all 0.5s ease;
		opacity: 0.85;
	}
	.sociales a img:hover{
		border-radius: 50%;
		opacity: 1;
	}
	.sociales a:nth-child(1) img:hover{
		box-shadow: 0 0 15px rgba(64, 100, 172, 0.5);
	}
	.sociales a:nth-child(2) img:hover{
		box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
	}
	.sociales a:nth-child(3) img:hover{
		box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
	}
	/* Fin de Sociales ----------------------------------*/

	/* Incio de flecha ----------------------------------*/
	.flecha{
		border-radius: 50%;
		color: #ffffff;
		padding: 12px 20px;
		cursor: pointer;
		position: fixed;
		right: 10px;
		bottom: 0px;
		transform: translateY(50px);
		z-index: 1;
		transition: all 0.5s ease;
		opacity: 0;
		background: #005dff;
	}
	.flecha:hover{
		opacity: 1 !important;
		box-shadow: 0 0 0.5em #005dff;
	}
	/* Fin de flecha ------------------------------------*/
